<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>飞书分享文档整理</title>
    <style type="text/css">
        .post-area {
            cursor: pointer;
        }

        .bm-card {
            width: 260px;
            height: 180px;
            float: left;
            margin-right: 6px;
            margin-bottom: 6px;
        }

        .bm-remarks {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }

        .bm-title {
            overflow: hidden;
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .bm-delete {
            float: right;
            cursor: pointer;
            margin-top: 135px;
            margin-right: -13px;
        }
    </style>
</head>

<body>
    <div id="app">

        <el-container>
            <el-header height="48px">
                <el-row type="flex" align="middle">
                    <el-col>
                        <el-row type="flex" align="middle">
                            <h1>飞书分享文档记录</h1>
                            <div style="margin-left: 6px;">
                                <el-button @click="add" type="success" icon="el-icon-plus" circle></el-button>
                            </div>
                        </el-row>
                    </el-col>
                </el-row>
            </el-header>
            <el-main>

                <el-row :gutter="20">
                    <el-col style="margin-bottom: 6px;">
                        <el-card v-for="bm in bookmarks" class="bm-card">
                            <div slot="header">
                                <el-link @click.native="openNewWin(bm.attributes.link)" type="primary">
                                    {{bm.attributes.title}}</el-link>
                                <i style="cursor: pointer;" @click.stop="startEdit(bm)" class="el-icon-edit"></i>
                                <i style="cursor: pointer;" @click.stop="updateTop(bm)"
                                    :class="bm.attributes.top ? 'el-icon-star-on' : 'el-icon-star-off'"></i>
                                <div class="bm-delete">
                                    <i @click.stop="deleteBm(bm)" class="el-icon-delete"></i>
                                </div>
                            </div>
                            <div class="bm-remarks">{{bm.attributes.remarks}}</div>
                        </el-card>
                    </el-col>
                </el-row>

                <el-row>
                    <el-dialog :title="mode=='add'?'新增':'修改'" :visible.sync="dialogVisible" :before-close="handleClose">
                        <el-form label-position="left" label-width="80px" :model="postBookmark">
                            <el-form-item label="标题">
                                <el-input v-model="postBookmark.title"></el-input>
                            </el-form-item>
                            <el-form-item label="链接地址">
                                <el-input v-model="postBookmark.link"></el-input>
                            </el-form-item>
                            <el-form-item label="备注">
                                <el-input type="textarea" v-model="postBookmark.remarks"></el-input>
                            </el-form-item>
                        </el-form>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="dialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="save">确 定</el-button>
                        </span>
                    </el-dialog>
                </el-row>

                <!-- <el-row>
                    <el-timeline>
                        <el-timeline-item v-for="bm in bookmarks" class="post-area" hide-timestamp type="success"
                            placement="top">
                            <el-card @click.native="openNewWin(bm.link)" width="260px">
                                <div slot="header" class="clearfix">
                                    <span>{{bm.title}}</span>
                                    <el-button style="float: right;" type="text" icon="el-icon-edit">
                                    </el-button>
                                </div>
                                <p>{{bm.remarks}}</p>
                            </el-card>
                        </el-timeline-item>
                    </el-timeline>
                </el-row> -->
            </el-main>
        </el-container>
    </div>
</body>

<!-- 引入Vue -->
<script src="libs/vue.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="libs/element-ui-index.css">
<!-- 引入组件库 -->
<script src="libs/element-ui-index.js"></script>
<script src="json/posts.js"></script>
<script src="js/api.vue.js"></script>
<script src="libs/parse.min.js"></script>
<script>

    Parse.initialize("yanhui2020");
    Parse.serverURL = 'https://212.64.91.205:5210/parse';
    const Bookmark = Parse.Object.extend("Bookmark");
    const query = new Parse.Query("Bookmark");

    const table = "bookmark";
    new Vue({
        el: "#app",
        data: {
            bookmarks: [],
            editBookmark: {},
            postBookmark: {},
            dialogVisible: false,
            mode: "add",// 1新增 2修改
        },
        methods: {
            login(call) {
                this.$prompt('Input username@password ', '认证提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    closeOnClickModal: false,
                    inputType: 'password'
                }).then(({ value }) => {
                    let userInfo = value.split("@");
                    Parse.User.logIn(userInfo[0], userInfo[1]).then(data => {
                        this.$message({
                            type: 'success',
                            message: '登录成功!'
                        });
                        call && call();
                    });
                })

            },
            deleteBm(bm) {
                this.$confirm('此操作将删除该书签, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    bm.destroy().then(() => {
                        this.list();
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    })
                })
            },
            save() {
                let { title, link, remarks } = this.postBookmark;
                let bm;
                if (this.mode == "edit") {
                    bm = this.editBookmark;
                } else if (this.mode == "add") {
                    bm = new Bookmark();
                }
                bm.set("title", title).set("link", link).set("remarks", remarks);
                bm.save().then(data => {
                    this.handleClose();
                    this.list();
                }, err => this.login(this.save));
            },
            updateTop(bm) {
                bm.set("top", !bm.get("top"));;
                bm.save().then(data => {
                    this.handleClose();
                    this.list();
                });
            },
            add() {
                this.mode = "add";
                this.postBookmark = {};
                this.dialogVisible = true;
            },
            startEdit(bm) {
                this.mode = "edit";
                this.editBookmark = bm;
                this.postBookmark = Object.assign({}, bm.attributes);
                this.dialogVisible = true;
            },
            handleClose() {
                this.dialogVisible = false;
            },
            openNewWin(url) {
                url && window.open(url);
            },
            list() {
                query.descending("top").find().then(data => {
                    this.bookmarks = data;
                });
            }
        },
        mounted() {
            this.list();
        }
    })
</script>

</html>