<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/jpeg" sizes="80x80" href="imgs/logo.jpg"/>
    <title>Chrome书签</title>
    <style type="text/css">
        .custom-control-input, .custom-control-label {
            cursor: pointer;
        }

        .link {
            cursor: pointer;
        }

        .title-align-sub {
            vertical-align: sub;
        }

        @media only screen and (max-width: 400px) {
            .yh-nav {
                padding-top: 2rem !important;
            }
        }
    </style>
</head>
<body>

<div id="root" class="container-fluid overflow-hidden" style="padding: 0">
    <nav class="navbar navbar-dark bg-dark yh-nav">
        <div class="align-items-center">
            <i class="fa fa-2x fa-chrome text-light link mr-2 title-align-sub"></i>
            <a class="navbar-brand" href="#">
                Bookmarks
            </a>
        </div>
        <div class="form-inline my-2 my-lg-0">
            <i class="fa fa-2x fa-refresh text-light link mr-2" :class="loading ? 'fa-spin' : ''"
               @click="refreshData"></i>

            <i class="fa fa-2x fa-sign-out text-light link ml-3" @click="logout"></i>

        </div>
    </nav>

    <div class="mx-2 mt-3" style="overflow: hidden">

        <div class="alert alert-secondary" role="alert">
            <span class="font-weight-bold">站内导航：</span>
            <button @click="window.open(link.url)" v-for="link in innerLinks" type="button" class="btn btn-outline-info p-1 mx-2">
                {{link.name}}
            </button>
        </div>

        <input v-model="searchTxt" class="form-control mr-sm-2" type="search" placeholder="搜索书签..." aria-label="Search"
               @keyup.enter="search"/>
        <div class="alert alert-success mt-3" role="alert">
            <span class="font-weight-bold">分类：</span>
            <div class="custom-control custom-radio custom-control-inline m-1 mr-2"
                 v-for="type in bmTypeList">
                <input @click="typeClick(type)" v-model="checkedType" :value="type" type="radio" :id="'id_'+type"
                       name="bmType"
                       class="custom-control-input"/>
                <label class="custom-control-label" :for="'id_'+type">{{type}}</label>
            </div>
        </div>

        <div class="alert alert-info" role="alert" v-show="bmTagList && bmTagList.length>0">
            <span class="font-weight-bold">标签：</span>
            <div class="custom-control custom-radio custom-control-inline m-1 mr-2" v-for="tag in bmTagList">
                <input @click="tagClick(tag)" v-model="checkedTag" :value="tag.name" type="radio" :id="'id_'+tag.name"
                       name="bmTag"
                       class="custom-control-input">
                <label class="custom-control-label" :for="'id_'+tag.name">{{tag.name}}</label>
            </div>
        </div>
    </div>


    <div class="p-2 d-flex flex-row flex-wrap justify-content-center link">
        <a v-for="bm in bmList" target="_blank" :href="bm.c" :title="bm.b+'\n'+bm.c"
           class="overflow-hidden bg-light m-2 p-3 list-group-item-action col-12 col-md-6 col-lg-3 mt-2 link">
            <div class="d-flex w-100 justify-content-between text-nowrap">
                <span class="mb-1 h6">{{bm.b}}</span>
            </div>
            <small>
                <span class="badge badge-success">{{bm.type}}</span>
                <span class="badge badge-info">{{bm.tag}}</span>
            </small>
            <label class="mb-1 text-info text-nowrap">{{bm.c}}</label>
        </a>
    </div>

</div>

<script src="cdn/vue/vue.min.js"></script>
<script src="cdn/axios.min.js"></script>
<link rel="stylesheet" href="/cdn/bootstrap/bootstrap.min.css"/>
<link href="cdn/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="cdn/common.js"></script>
<script>

    let bmTypeList = [];//分类集合
    let bmTagList = [];//标签集合  分类下的多级子分类
    let bmList = [];

    function recursionBookmark(bm, type, tag) {
        if (bm.a) { // 子分类文件夹
            for (let cbm of bm.a) {
                if (cbm.a) {
                    bmTagList.push({name: cbm.b, type});
                    recursionBookmark(cbm, type, cbm.b);
                } else {
                    recursionBookmark(cbm, type, tag);
                }
            }
        } else if (bm.c) {//书签
            type && (bm.type = type);
            tag && (bm.tag = tag);
            bmList.push(bm);
        }
    }

    new Vue({
        el: "#root",
        data() {
            return {
                bmTypeList: [],
                bmTagList: [],
                bmList: [],
                checkedType: "",
                checkedTag: "",
                searchTxt: "",
                loading: false,
                innerLinks: [
                    {name: "CDN", url: "/cdn"},
                    {name: "JsonView", url: "/pages/jsonView.html"},
                ]
            }
        },
        watch: {
            checkedType(val) {
                this.checkedTag = "";
                this.bmTagList = bmTagList.filter(n => n.type === val);
                this.bmList = bmList.filter(n => n.type === val);
            }
        },
        methods: {
            logout() {
                let result = confirm("确认登出？");
                if (result) {
                    localStorage.clear();
                    window.location.href = "/login.html"
                }
            },
            search() {
                this.bmList = bmList.filter(
                    n => n.b.toUpperCase().indexOf(this.searchTxt.toUpperCase()) !== -1 ||
                        n.c.toUpperCase().indexOf(this.searchTxt.toUpperCase()) !== -1
                );
                this.checkedTag = "";
                this.searchTxt = "";
            },
            typeClick(type) {
                this.bmList = bmList.filter(n => n.type === type);
            },
            tagClick(tag) {
                let checkedTag = tag.name;
                if (tag.name === this.checkedTag) {
                    this.checkedTag = "";
                    checkedTag = "";
                }

                if (checkedTag === "") {
                    this.bmList = bmList.filter(n => n.type === this.checkedType);
                    return;
                }

                this.bmList = bmList.filter(bm => {
                    if (!bm.tag) {
                        return false;
                    }
                    return bm.tag === checkedTag;
                });
            },
            refreshData() {
                let result = confirm("确认重新下载书签数据？");
                if (result) {
                    this.loading = true;
                    this.checkedType = "";
                    this.checkedTag = "";
                    bmList = [];
                    bmTypeList = [];
                    bmTagList = [];
                    this.bmTypeList = [];
                    this.bmTagList = [];
                    this.bmList = [];
                    this.loadData(true);
                    setTimeout(() => {
                        this.loading = false;
                    }, 3000)
                }
                return false;
            },
            loadData(refreshCache) {
                common.getContent("json/chrome.bookmark.json", refreshCache).then(data => {
                    this.bmDataHandle(data);
                });
            },
            bmDataHandle(bmJsonData) {
                let bmRoot = JSON.parse(bmJsonData);
                // 书签栏书签集合 a = children b=title c=url
                let rootBmList = bmRoot.a;
                for (let bm of rootBmList) {
                    // 如果有子节点  则代表分类
                    if (bm.a) {
                        recursionBookmark(bm, bm.b, null);
                        bmTypeList.push(bm.b);
                    } else {
                        recursionBookmark(bm, null, null);
                    }
                }
                this.checkedType = bmTypeList[0];
                this.bmTypeList = bmTypeList;
                this.bmTagList = bmTagList;
                this.bmList = bmList;
                this.loading = false;
            }
        },
        mounted() {
            this.loadData();
        }
    })

</script>
</body>
</html>
