<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookmarkView</title>
    <style type="text/css">
        body {
            overflow-x: hidden;
        }

        .logo {
            height: 31px;
            float: left;
            margin-left: -40px;
        }

        .logo>h2 {
            color: white;
        }
    </style>
</head>

<body>
    <a-layout id="app">
        <a-layout-header style="position: fixed;width: 100%;z-index: 1;">
            <div class="logo">
                <h2>
                    <a-icon type="book" :style="{ fontSize: '18px', color: 'white' }"></a-icon>
                    <span>Bookmark</span>
                </h2>
            </div>
        </a-layout-header>

        <a-layout-content style="margin-left: 6px;margin-top: 68px;min-height: calc(100vh - 68px);">

            <a-row style="margin-top: 6px;">
                <a-input-search placeholder="Filter By Tilte & Remarks" v-model="filterText" @change="filter"
                    style="width: 260px;margin-right: 6px;">
                </a-input-search>
                <a-tag style="cursor: pointer;" :color="selectedType===bmt._id ? 'red' : ''"
                    v-for="bmt in bookmarkTypes" @click="filterType(bmt)">{{bmt.name}}
                </a-tag>
            </a-row>

            <a-row gutter="16" style="margin-top: 6px;">
                <a-col @click="openNewWin(bm)" :style="{marginBottom: '12px'}" v-for="bm in bookmarks" :xs="24" :sm="12"
                    :md="8" :lg="6" :xl="6">
                    <a-card hoverable :title="bm.title" :style="{ height: '160px' }">
                        <p>{{bm.remarks}}</p>
                        <a-icon v-if="!!bm.top" type="heart" style="position: absolute;right: 6px;bottom: 6px;color: red;">
                        </a-icon>
                    </a-card>
                </a-col>
            </a-row>
        </a-layout-content>
        <a-tooltip placement="leftBottom" title="跳转至在线编辑页 →" arrowPointAtCenter>
            <a-button shape="circle" size="large" @click="openEditSite"
                style="position: fixed;right: 10px;top: 15px;z-index: 2;" icon="right" />
        </a-tooltip>
    </a-layout>

    <link type="text/css" rel="stylesheet" href="single/libs/antd.min.css" />
    <script src="single/libs/moment.min.js"></script>
    <script src="single/libs/vue.min.js"></script>
    <script src="single/libs/antd.min.js"></script>
    <script>

        let bmDataCache = [];

        new Vue({
            el: "#app",
            data: {
                bookmarks: [],
                bookmarkTypes: [],
                filterText: '',
                selectedType: ''
            },
            methods: {
                openEditSite() {
                    window.open("https://yanhui2018.gitee.io/manage/#/");
                },
                openNewWin(bm) {
                    window.open(bm.link);
                },
                filter(e) {
                    let txt = this.filterText.toUpperCase();
                    this.bookmarks = bmDataCache.filter(n => n.title.toUpperCase().indexOf(txt) != -1 || n.remarks.toUpperCase().indexOf(txt) != -1);
                },
                filterType(bmt) {
                    let id = bmt['_id'];
                    if (this.selectedType === id) {
                        this.bookmarks = bmDataCache;
                        this.selectedType = '';
                        return;
                    }
                    this.selectedType = id;
                    this.bookmarks = bmDataCache.filter(n => n.type === id);
                }
            },
            mounted() {
                fetch('/jsondata/Bookmark.json').then(res => res.json()).then(data => {
                    data = data.sort((a, b) => !!a.top ? -1 : 1);
                    this.bookmarks = data;
                    bmDataCache = data;
                });

                fetch('/jsondata/BookmarkType.json').then(res => res.json()).then(data => {
                    data = data.sort((a, b) => a.order - b.order)
                    this.bookmarkTypes = data;
                });
            }
        })

    </script>
</body>

</html>