<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/jpeg" sizes="80x80" href="imgs/logo.jpg"/>
    <title>Login Page</title>
</head>
<body>

<div id="root">

    <section class="signin">
        <div class="container">
            <div>
                <h2 class="text-center mt-2">sign in</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="signin-form">
                            <form @submit.prevent="oauth">
                                <div class="form-group">
                                    <label for="signin_name">Username</label>
                                    <input v-model="username" type="text" class="form-control" id="signin_name"
                                           placeholder="enter your username">
                                </div>
                                <div class="form-group">
                                    <label for="signin_pwd">Password</label>
                                    <input v-model="password" type="password" class="form-control" id="signin_pwd"
                                           placeholder="Password">
                                </div>
                                <div v-show="loginErr" class="alert alert-danger">用户名或密码错误 [{{loginErrMsg}}]</div>
                                <button type="submit" class="btn btn-primary">
                                    sign in
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
<link rel="stylesheet" href="cdn/bootstrap/bootstrap.min.css"/>
<script src="cdn/vue/vue.min.js"></script>
<script src="cdn/axios.min.js"></script>
<script src="cdn/common.js"></script>
<script>

    const storage_login = "login-state";
    new Vue({
        el: "#root",
        data() {
            return {username: "", password: "", loginErr: false, loginErrMsg: ""}
        },
        methods: {

            oauth() {
                if (this.username.trim() === "" || this.password.trim() === "") {
                    return;
                }
                axios.post('https://gitee.com/oauth/token', {
                    grant_type: "password",
                    username: this.username,
                    password: this.password,
                    client_id: common.config.client_id,
                    client_secret: common.config.client_secret,
                    scope: "projects",
                }).then(data => {
                    localStorage.setItem(storage_login, JSON.stringify(data));
                    common.initFileTree().then(() => {
                        this.navPage();
                    })
                }).catch((err) => {
                    this.loginErrMsg = err;
                    this.loginErr = true;
                });
            },

            loginValid() {
                let loginStorageData = localStorage.getItem(storage_login);
                if (loginStorageData) {
                    this.navPage();
                }
            },

            navPage() {
                window.location.href = "/index.html";
            }
        },
        mounted() {
            this.loginValid();
        }
    })

</script>
</body>
</html>
