<!DOCTYPE html>
<html>

<head>
    <title>Monaco-Editor</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpeg" sizes="80x80" href="../imgs/logo.jpg" />
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>

    <div id="root">

        <yanhui-header title="Monaco Editor" :actions="actions">
            <div slot="headerRight">
                <span class="text-truncate">
                    {{selectedFile ? `正在编辑 ${selectedFile}` : '请选择编辑文件...'}}
                </span>
            </div>
        </yanhui-header>

        <div id="container" style="width: 100%; height: 100vh;"></div>

        <!-- <div class="alert alert-secondary d-flex justify-content-start align-items-center fixed-bottom m-2 p-2"
            role="alert">
            <span class="font-weight-bold border border-info rounded p-1"
                style="border-width: 2px!important">Monaco-Editor编辑器</span>
            <div class="input-group ml-2" style="width: 400px">
                <div class="input-group-prepend">
                    <span class="input-group-text">Editor File</span>
                </div>
                <input v-model="inputTxt" type="search" class="form-control" list="fileDataList" />
                <datalist id="fileDataList">
                    <option v-for="file in fileList" :value="file"></option>
                </datalist>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" @click="loadFile(false)">Load</button>
                </div>
            </div>
            <span class="ml-3 text-primary font-italic border-bottom border-info">{{selectedFile ? `正在编辑文件
                ${selectedFile}` : '请选择编辑文件'}}</span>
            <span class="ml-3 text-secondary font-italic border-bottom border-dark">F1 打开编辑器导航 ; ctrl+s 保存文件 ; ctrl+p
                在iframe中预览文件</span>
        </div> -->

        <div class="modal d-block" tabindex="-1" v-if="showIframe">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{selectedFile}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @click="closeIframe">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <iframe class="border border-secondary rounded" :srcdoc="renderFileContent" width="100%"
                            height="600px">
                        </iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeIframe">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/cdn/vue/vue.min.js"></script>
    <script src="/cdn/axios.min.js"></script>
    <script src="/cdn/bootstrap/jquery.slim.min.js"></script>
    <script src="/cdn/bootstrap/bootstrap.min.js"></script>
    <script src="/cdn/monaco-editor/min/vs/loader.js"></script>

    <!-- 业务js在 /js/ 目录下，默认与页面名称相同 -->
    <script src="/js/appInit-min.js"></script>

    <link rel="stylesheet" href="/cdn/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/cdn/font-awesome-4.7.0/css/font-awesome.min.css" />
</body>

</html>