<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpeg" sizes="80x80" href="../imgs/logo.jpg" />
    <title>Markdown编辑器</title>
</head>

<body>

    <div id="root">

        <yanhui-header title="Markdown编辑器" icon="file-code-o" :actions="actions"></yanhui-header>

        <div class="m-3">

            <div class="row ml-1">
                <div class="input-group mb-3" style="width: 98%">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-italic font-weight-bold">请选择Markdown文件</span>
                    </div>
                    <select class="custom-select flex-grow-1" id="inputGroupSelect01" v-model="selectedFile"
                        @change="loadFile(false)">
                        <option v-for="file in fileList" :value="file">{{file}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div id="test-editor" style="margin-bottom: 5rem">
                    <textarea style="display:none;"></textarea>
                </div>
            </div>

        </div>
    </div>

    <script src="/cdn/vue/vue.min.js"></script>
    <script src="/cdn/axios.min.js"></script>
    <script src="/cdn/bootstrap/jquery.slim.min.js"></script>
    <script src="/cdn/bootstrap/popper.min.js"></script>
    <script src="/cdn/bootstrap/bootstrap.min.js"></script>
    <script src="/cdn/editormd/editormd.min.js"></script>

    <link rel="stylesheet" href="/cdn/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/cdn/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/cdn/editormd/css/editormd.css" />

    <!-- 业务js在 /js/ 目录下，默认与页面名称相同 -->
    <script src="/js/appInit-min.js"></script>

</body>

</html>