<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="cdn/bootstrap.min.css" crossorigin="anonymous">

  <title>Bookmark Preview</title>

  <style type="text/css">
    .cursor-pointer {
      cursor: pointer;
    }

    .bm-item {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .bm-serach {
      width: 100%;
    }
  </style>
</head>

<body>
  <div id="app" class="container-fluid pt-3">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top w-100">
      <a class="navbar-brand" href="#">Bookmark</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="/manage/">Manage</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <input id="input_search" v-model="serachTxt" type="text" @keyup="serach" class="form-control bm-serach w-20"
            placeholder="Search Bookmark ..." />
        </div>
      </div>
    </nav>

    <div class="row d-flex justify-content-center mt-5">
      <span :class="checkedType===type ? 'badge-primary':'badge-info'" @click="typeFilter(type)"
        v-for="type in typeList" class="badge p-2 m-2 cursor-pointer">{{type}}</span>
    </div>

    <div class="row d-flex justify-content-center">
      <span :class="checkedTag===tag ? 'badge-primary':'badge-secondary'" @click="tagFilter(tag)" v-for="tag in tagList"
        class="badge p-1 m-1 cursor-pointer">{{tag}}</span>
    </div>
    <div class="row">
      <ul class="list-group list-group-item-info overflow-hidden mt-3 w-100">
        <li v-for="bm in bmList" class="list-group-item overflow-hidden bm-item text-center">
          <a :href="bm.url" class="text-info">{{bm.title}} # {{bm.url}}</a>
        </li>
      </ul>
    </div>
  </div>
  <script src="cdn/vue.min.js"></script>
  <script src="cdn/jquery.min.js"></script>
  <script src="cdn/bootstrap.min.js"></script>
  <script>
    window.pageJsonUrl = "https://212.64.91.205:5210/pageJson";
  </script>
  <script src="src/index.js"></script>
</body>

</html>