<!DOCTYPE html>
<html>

<head>
    <title>Hello</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <link rel="icon" type="image/jpeg" sizes="80x80" href="/imgs/logo.jpg" />
    <style type="text/css"></style>
</head>

<body>

    <div id="container"></div>

    <div id="root">

    </div>

    <script src="/cdn/vue/vue.min.js"></script>
    <script src="/cdn/axios.min.js"></script>
    <script src="/cdn/bootstrap/jquery.slim.min.js"></script>
    <script src="/cdn/bootstrap/bootstrap.min.js"></script>

    <!-- 业务js在 /js/ 目录下，默认与页面名称相同 -->
    <script src="/js/appInit-min.js"></script>

    <link rel="stylesheet" href="/cdn/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/cdn/font-awesome-4.7.0/css/font-awesome.min.css" />

</body>

</html>