<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" sizes="80x80" href="/imgs/logo.jpg" />
    <title>semantic-ui template page</title>
    <style type="text/css">
        .ui.container.hello>div {
            margin: 1rem;
            padding: 1rem;
            border: 1px solid lightgray;
        }
    </style>
</head>

<body>

    <div id="app" class="ui container hello">

        <div>
            <h1 class="ui header">按钮</h1>
            <button class="ui button primary">hello</button>
        </div>

        <div class="ui divider"></div>

        <div>
            <h1 class="ui header">下拉框</h1>
            <select multiple="" name="skills" class="ui fluid normal dropdown">
                <option value="">Skills</option>
                <option value="angular">Angular</option>
                <option value="css">CSS</option>
                <option value="design">Graphic Design</option>
                <option value="ember">Ember</option>
                <option value="html">HTML</option>
                <option value="ia">Information Architecture</option>
                <option value="javascript">Javascript</option>
                <option value="mech">Mechanical Engineering</option>
                <option value="meteor">Meteor</option>
                <option value="node">NodeJS</option>
                <option value="plumbing">Plumbing</option>
                <option value="python">Python</option>
                <option value="rails">Rails</option>
                <option value="react">React</option>
                <option value="repair">Kitchen Repair</option>
                <option value="ruby">Ruby</option>
                <option value="ui">UI Design</option>
                <option value="ux">User Experience</option>
            </select>
        </div>

        <div>
            <h1 class="ui header">侧边栏菜单</h1>
            <button class="ui button primary" @click="showMenu">打开菜单</button>
            <div class="ui sidebar inverted vertical menu">
                <a class="item">
                    1
                </a>
                <a class="item">
                    2
                </a>
                <a class="item">
                    3
                </a>
            </div>
        </div>

        <div>
            <h1 class="ui header">标签</h1>
            <div>
                <a class="ui tag label">新的</a>
                <a class="ui red tag label">即将</a>
                <a class="ui teal tag label">未来</a>
            </div>
        </div>

        <div>
            <h1 class="ui header">图标</h1>
            <div class="ui doubling five column grid">
                <div class="column"><i class="american sign language interpreting icon"></i>american sign language
                    interpreting</div>
                <div class="column"><i class="assistive listening systems icon"></i>assistive listening systems</div>
                <div class="column"><i class="audio description icon"></i>audio description</div>
                <div class="column"><i class="blind icon"></i>blind</div>
                <div class="column"><i class="braille icon"></i>braille</div>
                <div class="column"><i class="closed captioning icon"></i>closed captioning</div>
                <div class="column"><i class="closed captioning outline icon"></i>closed captioning outline</div>
                <div class="column"><i class="deaf icon"></i>deaf</div>
                <div class="column"><i class="low vision icon"></i>low vision</div>
                <div class="column"><i class="phone volume icon"></i>phone volume</div>
                <div class="column"><i class="question circle icon"></i>question circle</div>
                <div class="column"><i class="question circle outline icon"></i>question circle outline</div>
                <div class="column"><i class="sign language icon"></i>sign language</div>
                <div class="column"><i class="tty icon"></i>tty</div>
                <div class="column"><i class="universal access icon"></i>universal access</div>
                <div class="column"><i class="wheelchair icon"></i>wheelchair</div>
            </div>
        </div>

        <div class="ui category search">
            <h1 class="ui header">搜索框</h1>
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search animals...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>

    </div>

    <link href="/cdn/semantic/semantic.min.css" rel="stylesheet">
    <script src="/cdn/bootstrap/jquery.slim.min.js"></script>
    <script src="/cdn/semantic/semantic.min.js"></script>
    <script src="/cdn/vue/vue.min.js"></script>

    <script>
        $(() => {
            // 初始化下拉列表
            $('.ui.dropdown').dropdown({
                maxSelections: 3
            });

            $('.ui.search').search({
                source: [
                    { title: 'Andorra' },
                    { title: 'United Arab Emirates' },
                    { title: 'Afghanistan' },
                    { title: 'Antigua' },
                    { title: 'Anguilla' },
                    { title: 'Albania' },
                    { title: 'Armenia' },
                    { title: 'Netherlands Antilles' },
                    { title: 'Angola' },
                    { title: 'Argentina' },
                    { title: 'American Samoa' },
                    { title: 'Austria' },
                    { title: 'Australia' },
                    { title: 'Aruba' },
                    { title: 'Aland Islands' },
                    { title: 'Azerbaijan' },
                    { title: 'Bosnia' },
                    { title: 'Barbados' },
                    { title: 'Bangladesh' },
                    { title: 'Belgium' },
                    { title: 'Burkina Faso' },
                    { title: 'Bulgaria' },
                    { title: 'Bahrain' },
                    { title: 'Burundi' }
                    // etc
                ]
            })
        });

        new Vue({
            el: "#app",
            methods: {
                showMenu() {
                    $('.ui.sidebar').sidebar('toggle');
                }
            }
        })

    </script>

</body>

</html>