<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/jpeg" sizes="80x80" href="../imgs/logo.jpg"/>
    <title>Vue Template Page</title>
</head>
<body>

<div id="root">
    <h2>{{title}}</h2>
</div>

<script src="../libs/vue/vue.min.js"></script>

<script>

    new Vue({
        el: "#root",
        data() {
            return {title: "Hello Vue..."}
        },
        mounted() {
            console.log("vue app mounted...");
        }
    })

</script>
</body>
</html>